@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "myriad-medium";
  src: url("../myriadmedium.TTF") format("TTF");
}

body {
  padding-top: 150px;
}

@media (max-width: 1080px) {
  body {
    padding-top: 75px;
  }
}

.wrapper {
  max-width: 1518px;
  margin: 0 auto;
}

.stats-block {
  background-color: #4351a1;
  border-radius: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 149px;
  padding: 20px 24px 13.5px 60px;
}

@media (max-width: 1080px) {
  .stats-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 21px 15px 17px 40px;
    height: initial;
  }
}

@media (max-width: 768px) {
  .stats-block {
    padding: 15px 10px 16px 15px;
  }
}

.stats-block > .img {
  width: 100px;
  height: 100px;
  display: block;
}

@media (max-width: 1080px) {
  .stats-block > .img {
    display: none;
  }
}

.stats-block > .center {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding-left: 40px;
}

@media (max-width: 1080px) {
  .stats-block > .center {
    padding-left: 0;
  }
}

.stats-block > .center > .list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1080px) {
  .stats-block > .center > .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.stats-block > .center > .list > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  border-right: 1px solid rgba(255, 255, 255, 0.24);
  margin-right: 20px;
  padding-left: 20px;
  color: white;
}

.stats-block > .center > .list > .item--pink {
  color: #f27fb4;
}

@media (max-width: 1080px) {
  .stats-block > .center > .list > .item {
    width: 50%;
    margin-right: 0;
  }
  .stats-block > .center > .list > .item:nth-child(1) {
    margin-bottom: 26px;
  }
  .stats-block > .center > .list > .item:nth-child(2) {
    border-right: 0;
    margin-bottom: 26px;
  }
}

@media (max-width: 540px) {
  .stats-block > .center > .list > .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 26px;
    border-right: 0;
  }
  .stats-block > .center > .list > .item:last-child {
    margin-bottom: 0;
  }
}

.stats-block > .center > .list > .item:last-child {
  border-right: 0;
}

.stats-block > .center > .list > .item > .value {
  font-size: 24px;
  line-height: 29px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.stats-block > .center > .list > .item > .title {
  font-size: 16px;
  line-height: 19px;
  font-family: myriad-medium, sans-serif;
  margin-top: 8px;
}

.stats-block > .center > .announce {
  padding-left: 20px;
  margin-top: 28px;
  font-size: 16px;
  line-height: 19px;
  font-family: myriad-medium, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats-block > .center > .announce > .icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.stats-block > .toggle {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */